<sebm-google-map [latitude]="lat" [longitude]="lng">


    <template ngFor let-layer_name [ngForOf]="layer_names">
        <sebm-google-map-marker
                *ngFor="let m of layers[layer_name].markers"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [label]="m.label">

            <sebm-google-map-info-window>
                <strong>{{ m.label }}</strong>
            </sebm-google-map-info-window>

        </sebm-google-map-marker>


        <sebm-google-map-polyline *ngFor="let poly of layers[layer_name].polylines">
            <sebm-google-map-polyline-point [latitude]="poly.start.lat" [longitude]="poly.start.lng">
            </sebm-google-map-polyline-point>
            <sebm-google-map-polyline-point [latitude]="poly.end.lat" [longitude]="poly.end.lng">
            </sebm-google-map-polyline-point>
        </sebm-google-map-polyline>
    </template>




</sebm-google-map>

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-2">

            <accordion [closeOthers]="oneAtATime">
                <accordion-group heading="TripIt">
                    This content is straight in the template.
                    <div *ngFor="let trip of tripit_trips">
                        <label>
                            <input type="checkbox" [(ngModel)]="trip.selected"  (ngModelChange)="toggleTripitTripLayerOnMap(trip)">
                            {{ trip.display_name }}
                        </label>

                        </div>

                </accordion-group>

                <accordion-group heading="Google">
                    <p>Click here to connect to Google</p>
                </accordion-group>
                <accordion-group heading="AirBnB">
                </accordion-group>

            </accordion>
        </div>


    </div>


</div>

