<sebm-google-map [(latitude)]="map_lat" [(longitude)]="map_lng" [(zoom)]="map_zoom" (centerChange)="mapOnCenterChange($event)">


    <template ngFor let-layer_name [ngForOf]="layer_names">
        <sebm-google-map-marker
                *ngFor="let m of layers[layer_name].markers"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [iconUrl]="m.iconUrl">

            <sebm-google-map-info-window>
                <strong>{{ m.label }}</strong>
            </sebm-google-map-info-window>

        </sebm-google-map-marker>


        <sebm-google-map-polyline *ngFor="let poly of layers[layer_name].polylines">
            <sebm-google-map-polyline-point [latitude]="poly.start.lat" [longitude]="poly.start.lng">
            </sebm-google-map-polyline-point>
            <sebm-google-map-polyline-point [latitude]="poly.end.lat" [longitude]="poly.end.lng">
            </sebm-google-map-polyline-point>
        </sebm-google-map-polyline>

    </template>

    <sebm-google-map-circle *ngIf="!search_text_near_enabled" [(latitude)]="search_lat" [(longitude)]="search_lng"
                            [(radius)]="search_latlong_radius"
                            [fillColor]="'red'"
                            [circleDraggable]="true"
                            [editable]="true"
                            (radiusChange)="searchLatLngRadiusChange($event)"
                            (centerChange)="searchLatLngCenterChange($event)"
    >
    </sebm-google-map-circle>


</sebm-google-map>

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="input-group">
                <div class="input-group-btn" dropdown [(isOpen)]="isopen">
                    <button id="single-button" type="button" class="btn btn-default" dropdownToggle>
                        <span class="caret"></span>

                        <template [ngIf]="search_type == null">
                            Search By?
                        </template>

                        <template [ngIf]="search_type == 'text'">
                            Text Search:
                        </template>

                        <template [ngIf]="search_type == 'latlng'">
                            Lat/Long Search:
                        </template>
                    </button>
                    <ul dropdownMenu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a class="dropdown-item" (click)="setSearchType('text')">Text Search</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="setSearchType('latlng')">Lat/Long Search</a></li>
                    </ul>
                </div>

                <input *ngIf="search_text_find_enabled" [(ngModel)]="search_text_find" type="text" class="form-control" placeholder="Find: Hotels, Restaurants, Things to Do" aria-describedby="basic-addon1">
                <span *ngIf="search_text_near_enabled" class="input-group-btn" style="width:0px;"></span>
                <input *ngIf="search_text_near_enabled" [(ngModel)]="search_text_near"  type="text" class="form-control" placeholder="Near: Enter a Destination" style="margin-left:-1px" />
                <div class="input-group-btn">
                    <button class="btn btn-default" (click)="search()">Search</button>

                </div>

            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-lg-2">

            <accordion [closeOthers]="oneAtATime">
                <accordion-group heading="TripIt">
                    This content is straight in the template.
                    <div *ngFor="let trip of tripit_trips">
                        <label>
                            <input type="checkbox" [(ngModel)]="trip.selected"  (ngModelChange)="toggleTripitTripLayerOnMap(trip)">
                            {{ trip.display_name }}
                        </label>

                        </div>

                </accordion-group>

                <accordion-group heading="Google">
                    <p>Click here to connect to Google</p>
                </accordion-group>
                <accordion-group heading="AirBnB">
                </accordion-group>

            </accordion>
        </div>

        <div class="col-lg-8">
            <form class="form-inline" role="form">
                <div class="row">
                    <div class="form-group col-lg-2">
                        <div class="input-group" [ngClass]="{'disabled': !search_google_enabled }">
                            <span class="input-group-addon">
                                <input type="checkbox" name="search_google" [(ngModel)]="search_google" [disabled]="!search_google_enabled">
                            </span>
                            <label class="btn btn-default" [ngClass]="{'disabled': !search_google_enabled }">Google</label>
                        </div><!-- /input-group -->
                    </div>

                    <div class="form-group col-lg-2">

                        <div class="input-group" [ngClass]="{'disabled': !search_airbnb_enabled }">
                            <span class="input-group-addon">
                                <input type="checkbox" name="search_airbnb"  [(ngModel)]="search_airbnb" [disabled]="!search_airbnb_enabled">
                            </span>

                            <label class="btn btn-default" [ngClass]="{'disabled': !search_airbnb_enabled }">AirBnB</label>
                        </div><!-- /input-group -->
                    </div>

                    <div class="form-group col-lg-2">

                        <div class="input-group" [ngClass]="{'disabled': !search_tripadvisor_enabled }">
                            <span class="input-group-addon">
                                <input type="checkbox" name="search_tripadvisor"  [(ngModel)]="search_tripadvisor" [disabled]="!search_tripadvisor_enabled">
                            </span>
                            <label class="btn btn-default" [ngClass]="{'disabled': !search_tripadvisor_enabled }">TripAdvisor</label>
                        </div><!-- /input-group -->
                    </div>

                    <div class="form-group col-lg-2">

                        <div class="input-group" [ngClass]="{'disabled': !search_yelp_enabled }">
                            <span class="input-group-addon">
                                <input type="checkbox" name="search_yelp"  [(ngModel)]="search_yelp" [disabled]="!search_yelp_enabled">
                            </span>
                            <label class="btn btn-default" [ngClass]="{'disabled': !search_yelp_enabled }">Yelp</label>
                        </div><!-- /input-group -->
                    </div>
                </div>
            </form>
        </div>

    </div>


</div>

